<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-header">
          <a href="/" class="btn btn-primary">Back</a>
          <h1 class="text-center">Create New Product</h1>
        </div>
        <div class="card-body">
          <form action="/product" enctype="multipart/form-data" method="POST">
            <input
              class="form-control my-2"
              type="text"
              placeholder="Product Name"
              name="name"
            />
            <input
              class="form-control my-2"
              type="text"
              placeholder="Regular Price"
              name="regularPrice"
            />
            <input
              class="form-control my-2"
              type="text"
              placeholder="Sale Price"
              name="salePrice"
            />

            <input
              class="form-control my-2"
              type="number"
              placeholder="Product Stock"
              name="stock"
            />

            <input
              class="form-control mb-2"
              type="text"
              placeholder="User Mobile"
              name="mobile"
            />
            <input
              class="form-control mb-2"
              type="text"
              placeholder="User email"
              name="email"
            />
            <input
              class="form-control my-2"
              type="file"
              placeholder="Product Image"
              name="productPhoto"
            />
            <div class="mt-4">
              <button class="btn btn-primary me-2" type="submit">
                <!-- <a href="#" class="text-white">Add Product</a> -->
                add product
              </button>
              <button class="btn btn-warning ms-2" type="reset">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
